sudo: required
dist: trusty

addons:
  apt:
    sources:
      - chef-current-trusty
    packages:
      - chefdk

# Don't `bundle install` which takes about 1.5 mins
install: echo "skip bundle install"

branches:
  only:
    - master

services: docker

env:
  matrix:
  - INSTANCE=resource-centos-6
  - INSTANCE=resource-centos-6 CHEF_VERSION=12.20.3
  - INSTANCE=resource-centos-7
  - INSTANCE=resource-centos-7 CHEF_VERSION=12.20.3
  - INSTANCE=resource-debian-7
  - INSTANCE=resource-debian-7 CHEF_VERSION=12.20.3
  - INSTANCE=resource-debian-8
  - INSTANCE=resource-debian-8 CHEF_VERSION=12.20.3
  - INSTANCE=resource-ubuntu-1404
  - INSTANCE=resource-ubuntu-1404 CHEF_VERSION=12.20.3
  - INSTANCE=resource-ubuntu-1604
  - INSTANCE=resource-ubuntu-1604 CHEF_VERSION=12.20.3

before_script:
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - eval "$(/opt/chefdk/bin/chef shell-init bash)"
  - /opt/chefdk/embedded/bin/chef --version
  - /opt/chefdk/embedded/bin/cookstyle --version
  - /opt/chefdk/embedded/bin/foodcritic --version

script: KITCHEN_LOCAL_YAML=.kitchen.dokken.yml /opt/chefdk/embedded/bin/kitchen verify ${INSTANCE}

matrix:
  include:
    - script:
      - /opt/chefdk/bin/chef exec delivery local all
      env: UNIT_AND_LINT=1
